$("#address").html("<%= j render(partial: 'address_list') %>");
$("#address").append("<option>Your Paypal address</option>");
$("#address").append("<option>Create new address</option>");
$(".new_address").hide()
