#cart
  .modal-body
    .modal-content
      margin-bottom: 20px
      .image-product-modal
        display: inline
        width: 10%
      .name-product-modal
        display: inline-block
      .price-product-modal
        display: inline-block
